.Stage {
    @extend %stretch;
    background: #000;
    overflow: hidden;

    .code-play-toggle {
        @include position-absolute(auto, 0, 30px, 0);
        
        font-size: 1.5em;
        max-width: 525px;
        margin: 0 auto;
        border: none;
        background: #333;
        color: white;
    }
    
    .stage-complete {
        @include position-absolute(auto, 0, 128px, 0);
    
        text-align: center;
        width: auto;
        color: white;
        line-height: 1.3;
    
        a, .text-link {
            color: #ffcc00;
        }
    }
    
    .play-layer-overlay {
        @include position-absolute(auto, 96px, 128px, auto);
    
        text-align: center;
        width: auto;
        color: white;
        line-height: 1.3;
    }
    
    .code-layer {
        @include position-absolute();
    
        background: #1E1E1E;
        color: black;
        display: flex;
        align-items: center;
        transition: all 0.5s;
        overflow: auto;
    
        pre {
            margin: auto;
        }

        .hljs {
            background: transparent;
        }
    
        code {
            font-size: 1.1em;
            line-height: 1.25em;
            font-family: 'Overpass Mono';
            margin: 100px 100px 150px;
        }
    
        &.hidden {
            pointer-events: none;
            opacity: 0;
            transform: translateY(100%);
        }
    }
}


